sqlite3 survey.db

In [7]:
import sqlite3
import pandas as pd

conexao = sqlite3.connect('/home/fernando/github/python-datascience/survey.db')

In [11]:
pessoa = pd.read_sql_query("SELECT * FROM person", conexao)
pessoa.info()
pessoa.describe()
print(pessoa)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        5 non-null      object
 1   personal  5 non-null      object
 2   family    5 non-null      object
dtypes: object(3)
memory usage: 248.0+ bytes
         id   personal    family
0      dyer    William      Dyer
1        pb      Frank   Pabodie
2      lake   Anderson      Lake
3       roe  Valentina   Roerich
4  danforth      Frank  Danforth

In [13]:


dfsite = pd.read_sql_query("SELECT * FROM Site", conexao)
print(dfsite.describe())
print(dfsite)

             lat        long
count   3.000000    3.000000
mean  -48.623333 -126.230000
std     1.366797    2.619599
min   -49.850000 -128.570000
25%   -49.360000 -127.645000
50%   -48.870000 -126.720000
75%   -48.010000 -125.060000
max   -47.150000 -123.400000
    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40

In [15]:
dfvisited=pd.read_sql_query("SELECT max(id) FROM Visited;", conexao)
print(dfvisited)

dfvisited=pd.read_sql_query("SELECT * FROM Visited;", conexao)
print(dfvisited['id'].max())

   max(id)
0      844
844